body {
background-color: #c2a361;
font-family: Brush Script MT;
}
h1{
font-size: 100px;
margin-bottom: 10px;
}
img{
margin-top: 10px;
margin-bottom: 30px;
}
p{
font-size: 40px;
font-family: Brush Script MT;
margin-bottom: 30px;
}
h2{
font-size: 60px;
font-family: Brush Script MT;
}
h3{
font-family: Brush Script MT;
}
